header{
    background-color: rgb(2, 2, 110);
    color: white;
    text-align: center;
    padding: 20px;
}
.header:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}
.product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding: 10px;
    gap: 20px
}
.card{
    border: 2px solid #ccc;
    border-radius: 20px;
    padding:20px;
    text-align: center;
    box-shadow: 0 4x 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s;

}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}
.card h3{
    margin: 10px 0 5px;
    font-size: 18px;
}
.price{
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}